I am an *AI-first* and *Agent-native* product and engineering leader with `{{diff careerStats.careerStart null}}+` ears of experience in software engineering, product management, and engineering management.

I am a passionate product, engineering and UX generalist with a strong focus on building products that are user-centric and scalable. I am available for {{toLowerCase available_for}}.

I have been a remote worker for `{{diff remoteStats.remoteStart null}}` years, and I've spent `{{diff remoteStats.remoteStart remoteStats.nomadStart remoteStats.nomadEnd}}` years as a digital nomad.
{{#if countryCount}}
During that time I visited `{{countryCount}}` countries and worked from `{{locationCount}}` distinct locations. Check out
my travel map of locations <a href="https://nomadmo.re/maps/the-full-travel-map/">here</a>.
{{/if}}